
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">Select Team Members</h4>
    </div>
    <%= simple_form_for(@project) do |f| %>

	    <div class="modal-body">
				<%= f.association :users %>		  
	    </div>
	    <div class="modal-footer">
	      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				<%= f.button :submit, class: "btn-primary" %>
	    </div>
   	<% end %>

  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
