<div class="nested-fields">
<%= f.hidden_field :cloud_type, :value=>"database" %>

<%= f.input :config %>
<%= f.input :shape, as: :fake %>
<%= link_to_remove_association "Remove Database", f,  :class => "btn btn-small btn-danger"  %>
</div>